.headset-list {
    padding-top: 30px;

    &__title {
        padding-bottom: 20px;
        color: rgb(131 131 131);
        font-size: 20px;
        font-weight: 600;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        gap: 30px;
    }
}
